<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShuttleLaunch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07FB9EE91CF668F9008FFA1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07FB9F011CF668F9008FFA1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07FB9F0C1CF668F9008FFA1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
